.Count {
    background-color: rgb(145, 145, 145);
    margin-right: 30px;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
    flex-direction: row;

    position:relative; left:800px; top:-130px;
}