.ToDo {
    background-color: rgb(209, 206, 206);
    margin-left: 30px;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    height: 400px;
    flex-direction: row;

    position:relative; left:800px; top:-370px;
}

